@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@400;700&display=swap');

:root {
    --background: hsla(34, 64%, 84%, 0.9); 
    --background1: hsla(35, 81%, 32%, 0.234); 
    --book_finished: #c03a2b; 
    --book_unfinished: #35495e; 
}

* {
    box-sizing: border-box; 
    margin: 0px; 
    padding: 0px; 
}

body {
    background-color: var(--background);  
    width: 99%; 
    height: 100vh;
    margin: 5px; 
    border: dotted;
    font-family: 'Gentium Book Basic', sans-serif;
}

.logo {
    width: 50px;
    display: inline-block;
}

.add_books {
    outline: none; 
    border: solid 1px gray;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 5px 5px  green;
    position: relative; 
    left: 200px;
    
    font-size: 2rem;
}
.add_books:hover {
    background-color: white;
}
.add_books:active {
    transform: translate(3px, 3px);
    box-shadow: 1px 1px green;
    background-color: white;
}

.main {
    width: 99%; 
    margin: 5px; 
    padding: 20px;
    display: grid;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: 0 auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 300px; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
} 
.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

.card {
    border: solid 1px; 
    width: 220px;
    padding: 10px;
    margin: 10px; 
    display: inline-block;
    background-color: var(--background1);
}
.card .title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.card.unfinished_shadow {
    box-shadow: var(--book_unfinished) 5px 5px;
}
.card.finished_shadow {
    box-shadow: var(--book_finished) 5px 5px; 
}
.card .data {
    text-align: right;
}

